{% extends 'base.html.twig' %}

{% block body %}

  {% if error is defined %}
      <div class="alert alert-danger" role="alert">Veuillez vérifier votre nom d'utilisateur/mot de passe.</div>
    {% endif %}
{% include 'login/login.html.twig' %}
{% endblock %}
